<div class="card w-1/2 m-auto bg-base-100 shadow-xl">
  <div class="card-body w-full m-auto">
    <h1 class="text-center text-2xl">Resend unlock instructions</h1>

    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-control mb-6">
        <%= f.label :email, class: 'label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered w-full" %>
      </div>

      <div class="mb-6 d-grid">
        <%= f.submit "Resend unlock instructions", class: "btn btn-primary btn-wide" %>
      </div>
    <% end %>

    <div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
