<% if current_user != true_user %>
  <div class="alert alert-warning text-center">
    You're logged in as <b><%= current_user.name %> (<%= current_user.email %>)</b>
    <%= link_to stop_impersonating_madmin_impersonates_path, method: :post do %><%= icon("fas", "times") %> Logout <% end %>
  </div>
<% end %>

<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="drawer-content">
      <!-- Page content here -->
      <label for="my-drawer" tabindex="0" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
      </label>
    </div>
    <div class="navbar-center">
      <%= link_to Rails.configuration.application_name, root_path, class: "btn btn-ghost normal-case text-xl" %>
    </div>
  </div>
  <div class="navbar-end">
    <ul class="menu menu-horizontal px-1">
      <li class="nav-item"><%= link_to "What's New", announcements_path, class: "nav-link #{unread_announcements(current_user)}" %></li>
    </ul>
    <% if user_signed_in? %>
      <%= link_to notifications_path, class: "btn btn-ghost btn-circle" do %>
        <div class="indicator">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" /></svg>
          <span class="badge badge-xs badge-primary indicator-item"></span>
        </div>
      <% end %>

      <div class="dropdown dropdown-end">
        <button class="btn btn-ghost btn-circle">
          <%= image_tag avatar_path(current_user, size: 40), height: 20, width: 20, class: "rounded" %>
        </button>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <li>
            <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
          </li>
          <% if current_user.admin? && respond_to?(:madmin_root_path) %>
            <li>
              <div class="dropdown-divider"></div>
              <%= link_to "Admin Area", madmin_root_path, class: "dropdown-item" %>
            </li>
          <% end %>
          <div class="divider"></div>
          <li>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </li>
        </ul>
      </div>
    <% else %>
      <ul class="menu menu-horizontal px-1">
        <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
      </ul>
    <% end %>
  </div>
</div>
