<div class="card w-1/2 m-auto bg-base-100 shadow-xl">
  <div class="card-body w-full m-auto">
    <div class="mb-4 text-center">
      <h1 class="mb-px text-2xl">Log In</h1>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-control mb-6">
        <%= f.label :email, class: 'label' %>
        <%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'input input-bordered w-full' %>
      </div>

      <div class="form-control mb-6">
        <%= f.label :password, class: 'label' %>
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'input input-bordered w-full' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-check mb-6">
          <label class="cursor-pointer">
            <%= f.check_box :remember_me, class: "checkbox mr-3" %>
            <span class="label-text">Remember me</span>
          </label>
        </div>
      <% end -%>

      <div class="mb-6 d-grid">
        <%= f.submit "Log in", class: "btn btn-primary btn-wide" %>
      </div>

      <div>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
